* {
  box-sizing: border-box;
  font-family: "Sawarabi Mincho", sans-serif;
}

/* Reset */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #d2d7d3;
}

/* Body */

.site {
  max-width: 800px;
  margin: 0 auto;
}

img {
  border-radius: 300px;
  display: flex;
  justify-content: center;
  margin: 30px auto 30px auto;
  height: 300px;
  width: 300px;
}
