* {
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  font-family: "Sawarabi Mincho", sans-serif;
}

/* Reset */

body {
  background-color: #ecf0f1;
}

/* Body */

h1 {
  color: #2e3131;
  margin: 50px 0 50px 0;
  text-align: center;
  font-family: "Cinzel";
}

p {
  color: #95a5a6;
  font-weight: lighter;
  text-align: center;
  margin: 0 50px 50px 50px;
}

img {
  border-radius: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
}

.intro {
  color: #6c7a89;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
